.App {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.app_header {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid white;
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.letter_dice_wrap {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2rem;
}

.letter_die {
  background-color: white;
  font-size: 3rem;
  height: 100px;
  width: 100px;
  margin: 0 10px;
  line-height: 1em;
  padding-top: .5em;
}

.letter_die_image {
  max-width: 100%;
  height: auto;
}

.letter_die_initial {
  font-size: 2rem;
  cursor: pointer;
}

.no_results_yet {
  font-size: 2rem;
  margin-top: 2rem;
}

.roll_results_header {
  font-size: 1.5rem;
  margin: 1em 0;
}

.result_maybe_word_images {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.result_maybe_word_images img {
  max-width: 150px;
  max-height: 250px;
  height: auto;
}

.roll_result_button {
  font-size: 2rem;
  background-color: #DF18CE;
  color: white;
  border-radius: 10px;
  outline: 0;
  border: 0;
  margin-left: 1em;
  cursor: pointer;
}

.roll_result_button:first-of-type {
  margin-left: 0;
}

h2 {
  font-size: 2rem;
}

.input_name {
  padding: 2rem 5rem 2rem 2rem;
  font-size: 2.5rem;
}

.name_btn {
  background-color: #DF18CE;
  padding: 2rem;
  font-size: 2.5rem;
  color: white;
  margin-left: -2rem;
}

.display_info_wrap {
  font-size: 1.5rem;
  margin: 1em;
  padding: 1em;
  background-color: #DF18CE;
  color: white;
}